body{
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #fbf4e2;
}
a {
    text-decoration: none;
    color: whitesmoke;
}

.navbar {
    background-color: black;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
}
.navbar a:hover {
    cursor: pointer;
    color: red;
}
.navbar a {
    color: whitesmoke;
    text-decoration: none;
}
.btn {
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
    color: whitesmoke;
}
.btn:hover,
.btn:focus {
    color: #fff;
    background-color: red;
    border-color: #463C74;
    border-radius: 70px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    
}

.card-body {
    margin: 10px;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}


.footer{
    background-color: black;
    padding: 20px;
}